<h1>Welcome to Helpful ATM</h1>
<br>
<p>Your login address is: <%= @user.email %></p>
<p>Your token to interact with this API is: <%= @user.authentication_token %></p>
<br>
<p>Do not lose this e-mail. Your token is necessary to access your data inside the API.</p>
<p>Documentation to interact with the API: <%= link_to nil, "https://github.com/victorshp/helpful-atm" %> </p>
<br>
<br>
<h4>Have fun!</h4>
