<script>
  const changeBurger = () => {
    document.querySelector(".hamburger").classList.toggle("switch-patties");
    document.querySelector("header").classList.toggle("reveal");
  };
</script>

<header>
  <div class="in-small">
    <a href="/"><%= image_tag "helpful-atm-logo.png", alt: "Helpful ATM Logo", id:"logo" %></a>
    <div class="hamburger" onclick="changeBurger()">
      <div class="bar1"></div>
      <div class="bar2"></div>
      <div class="bar3"></div>
    </div>
  </div>
  <ul class="navbar-links">
  <% if !user_signed_in? %>
    <li><a href="https://github.com/victorshp/helpful-atm">Documentation</a></li>
    <li><a href="/users/sign_in">Login</a></li>
  </ul>
    <a href="/users/sign_up" class="contact"><button>Sign Up</button></a>
  <% else %>
    <a href="/users/sign_out" data-method="delete" class="contact"><button>Log Out</button></a>
  <% end %>
</header>

<div id="signup_sheet">
  <h1>Welcome to Helpful ATM!</h1>
  <div class="breathe">
    <p>To run this API, you will have to:</p>
    <p>(1) Create user</p>
    <p>(2) Verify email to receive API token</p>
    <p>(3) Don't forget to have FUN!</p>
    </ol>
  </div>
  <div class="breathe">
    <a href="/"><<< Read Documentation >>></a>
  </div>
</div>
